<!doctype html>
<html lang="en">
    
<body>
 
  <div class="overlay">
      <h1>Bienvenido a DBJ</h1>
  </div>

  <div class="wrapper">

        <div class="logo">DBJ</div>
        <div class="nav">
              <ul>
                  
                  <li><a routerLink="/map">Mapa</a></li>
                  <li>Soporte</li>

              </ul>
        </div>

        <div class="side-strip">
            <span>Seguridad en la Ruta</span>
        </div>

        <div class="header">
            <h1>DBJ Solutions</h1>
            <p>Has seguimiento en tiempo real de tus vehiculos</p>
            <button routerLink="/map">Explorar</button>
        </div>

        <div class="bottom-bar">

              <div class="container">

                  <div class="row">

                    <div class="col-lg-4">
                      <h6>Solicita acesoria con los mejores</h6>
                      <p>Tenemos un grupo capacitado para brindar consultoria a los problemas empresariales</p>
                    </div>

                    <div class="col-lg-4">
                      <h6>Solicita acesoria con los mejores</h6>
                      <p>Tenemos un grupo capacitado para brindar consultoria a los problemas empresariales</p>
                    </div>

                    <div class="col-lg-4">
                      <h6>Solicita acesoria con los mejores</h6>
                      <p>Tenemos un grupo capacitado para brindar consultoria a los problemas empresariales</p>
                    </div>
                  </div>
              </div>
        </div>
  </div>
</body>
</html>